<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://raw.githubusercontent.com/zhuxiujia/GoMybatis/master/mybatis-3-mapper.dtd">
<mapper>
    <resultMap id="UserResultMap" tables="tbl_user">
        <id column="id" langType="int"/>
        <result column="create_time" langType="Time"/>
        <result column="update_time" langType="Time"/>
        <result column="delflag" langType="int"/>
        <result column="username" langType="string"/>
        <result column="password" langType="string"/>
        <result column="email" langType="string"/>
        <result column="active" langType="int"/>
    </resultMap>

    <select id="GetUserByUsername">
        select * from tbl_user where username = #{username}
    </select>

    <select id="GetUserByEmail">
        select * from tbl_user where email = #{email}
    </select>

    <insert id="CreateUser">
        insert into tbl_user
        (`username`, `password`, `email`, `create_time`, `delflag`, `active`)
        values
        (#{username}, #{password}, #{email}, #{createTime}, 0, 0)
    </insert>

</mapper>